:root {
  --color-dark: #0c1424;
}

* {
  margin: 0;
  font-family: "Montserrat";
}

input {
  padding: 0 16px;
}

textarea {
  padding: 20px 16px 0px;
  resize: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

body {
  background-color: var(--color-dark);
  color: white;
}

#navbar__logo img {
  height: 70px;
  width: 50px;
  margin-left: 30%;
  margin-top: 25%;
}

.navbar__container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-dark);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.navbar__menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

#navbar__links {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px auto; /*kak da mi se ti elementi liste
                  strechoutaju kad se ekran povecava? */
  border-radius: 3px;
  font-size: 20px;
}

#navbar__links.active,
#navbar__links:hover {
  border: 1px solid teal;
  color: rgb(45, 221, 221);
  transition: 0.5s;
}

.hamburger {
  display: none;
  padding: 30px;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.hamburger:hover {
  color: rgb(45, 221, 221);
  transition: 0.5s;
}

.hamburger:focus {
  outline: none;
}

.home {
  display: flex;
  align-items: start;
  color: white;
  height: 100vh;
  background-image: url(img/background-dektop1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #131f37;
  padding: 86px 30px 0;
  background-position: bottom;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: left;
}

.home__heading {
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 50px;
}

.home__heading span {
  font-size: 90px;
  text-transform: uppercase;
}

.home__description {
  font-size: 45px;
  margin-top: 40px;
  padding: auto;
  margin-left: -100px;
}

.service__list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;
  margin-left: 20px;
  line-height: 25px;
}

.main__btn {
  padding: 16px 45px;
  background-color: rgb(45, 221, 221);
  border: 3px solid teal;
  border-width: 3px;
  border-radius: 50px;
  outline: none;
  box-shadow: inset 0 0 0 0 #dd6357;
  transition: ease-out 0.5s;
  margin-top: 50px;
  margin-left: -180px;
  color: #131f37;
  font-size: 20px;
}

.main__btn:hover {
  box-shadow: inset 300px 0 125px 0 #dd6357;
  border-color: tomato;
  color: rgb(112, 47, 36);
}

.main__btn a {
  color: #131f37;
  text-decoration: none;
  font-size: 20px;
}

.about__container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.about__header {
  text-align: center;
  font-size: 50px;
  padding: 40px;
  text-transform: uppercase;
  background-color: var(--color-dark);
}

.mission__container {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-dark);
  padding: 0;
}

#list_itm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  list-style: none;
  border: 1px solid teal;
  padding: 12px;
  margin: 12px;
}

#list_itm h3 {
  text-align: center;
  font-size: 27px;
}

#list_itm article {
  text-align: center;
  line-height: 25px;
  padding: 20px;
}

#list_itm:hover {
  border-color: #dd6357;
  transition: 0.5s;
  position: relative;
  transition: border 1s ease;
  cursor: pointer;
}

.sevices__container {
  padding-top: 96px;
  margin-top: 154px;
  display: flex;
  flex-direction: column;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  background-color: #131f37;
}

.service__header {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.service__img {
  height: 330px;
  margin-bottom: 20px;
}

.ruler {
  margin: 16px 0;
  position: relative;
  height: 0.1px;
  width: calc(100% - 64px);
  align-self: center;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(161, 161, 161, 0),
    rgba(255, 255, 255, 0.883),
    rgba(255, 255, 255, 0)
  );
}

#service__btn {
  margin: 25px 0 0 0;
}

.sign__up {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
}

#submit__btn {
  margin: 0;
}

.information {
  padding: 20px;
  display: flex;
  flex-direction: row;
  min-width: 100px;
  flex-grow: 1;
}

.text {
  padding: 20px;
  flex-grow: 1;
  text-align: center;
}

.text h1 {
  font-size: 45px;
  margin-bottom: 30px;
}

.text li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 15px;
}

.form__container {
  padding: 30px;
  background-color: #131f37;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: none;
}

.form__contact {
  display: flex;
}

.form__contact input {
  flex-grow: 1;
}

.form__btns {
  display: flex;
}

.form__btns button {
  flex-grow: 1;
}

.form__item {
  background-color: #131f37;
  border: 3px solid teal;
  border-width: 3px;
  border-radius: 50px;
  outline: none;
  margin-bottom: 10px;
  height: 50px;
}

@media screen and (max-width: 1100px) and (min-width: 770px) {
  .service__itm {
    margin: 0px;
    display: flex;
  }

  .service__img {
    height: 190px;
    margin-bottom: 20px;
  }

  .ruler {
    position: relative;
    height: 0.1px;
    align-self: center;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(161, 161, 161, 0),
      rgba(255, 255, 255, 0.883),
      rgba(255, 255, 255, 0)
    );
  }
}

/*Mobile screen*/
@media screen and (max-width: 699px) {
  /*Kako napraviti da menu padne smooth dolje kad stisnem hamburger?*/
  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .mission__container {
    flex-wrap: wrap;
  }

  .navbar__menu.show {
    display: flex;
    padding: 0 0 32px;
  }

  .hamburger {
    display: block;
    padding: 20px;
    z-index: 1000;
  }

  .information {
    flex-direction: column;
  }

  .form__contact {
    flex-direction: column;
  }

  #navbar__logo img {
    height: 65px;
    width: 45px;
    margin-left: 25%;
    margin-top: 20%;
    z-index: 1000;
  }
  #navbar__itm {
    padding: 10px;
    z-index: 1000;
  }

  .services {
    grid-template-columns: 1fr;
  }

  #navbar__links.active,
  #navbar__links:hover {
    border: none;
    color: rgb(45, 221, 221);
    transition: 0.5s;
    z-index: 1000;
  }

  .home {
    display: flex;
    background-image: url(img/bacground-mobile.jpg);
    background-position: bottom;
  }
  .home__heading {
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    font-weight: 40;
  }

  .home__heading span {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .home__description {
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
    margin-left: 0;
  }
  .main__btn {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 60px;
    margin-left: 0px;
  }
  .main__btn a {
    text-decoration: none;
    font-size: 40px;
  }
}

.map__container {
  display: flex;
  margin: 0px 60px 60px 60px;
}

.map__container iframe {
  flex-grow: 1;
  height: 300px;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}

footer {
  background-color: #131f37;
  text-align: center;
  height: 60px;
  padding: 30px;
}
